
.footer{
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: 120px;
    width: auto;
    margin-bottom: 10px;
}
ul li{
    list-style-type: none;
    bottom: 0%;
    color: rgb(48,46,42);
    font-size: medium;
}